<div class="skycloud">
  <div class="container " id="main_page">
    <div class="festival-text text-center py-4">
      <div class="ft-sub-title">2018 아주대학교 대동제</div>
      <div class="ft-title">AUBE</div>
    </div>
    <div class="ft-date">
      <span>MAY 23 WED 25 FRI</span>
    </div>  
    </div>
      <div class="text-center py-5">
        <div>
          
          <button type="button" class="btn mybtn num1 hvr-grow" data-toggle="modal" data-target="#exampleModal">
            홍보영상 바로보기
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title map-text" id="exampleModalLabel">홍보영상 바로보기</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body movie-size">
                  <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fajouchong%2Fvideos%2F381535165678863%2F&show_text=0&width=560" width="100%" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
      </div>
      
      
      <button type="button" class="btn mybtn num2 hvr-grow" data-toggle="modal" data-target="#eventModal">
        학교행사 안내
      </button>
      
      
      
      <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title map-text" id="exampleModalLabel">학교행사 안내</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <ul class='slats'>
                  <li>
                    <h3 class="modal-content-title">23일</h3>
                    <p>주간부스</p>
                    <p>텔레토비 동산</p>
                    <p>동아리ㆍ소학회 공연</p>
                    <p>응원대제전</p>
                    <p>야간부스</p>
                  </li>
                  <li>
                    <h3 class="modal-content-title">24일</h3>
                    <p>주간부스</p>
                    <p>텔레토비 동산</p>
                    <p>동아리ㆍ소학회 공연</p>
                    <p>끼콘테스트</p>
                    <p>야간부스</p>
                    </li>
                  
                  <li>
                    <h3 class="modal-content-title">25일</h3>
                    <p>주간부스</p>
                    <p>U리그 홈경기</p>
                    <p>텔레토비 동산</p>
                    <p>동아리ㆍ소학회 공연</p>
                    <p>야간부스</p>
                  </li>
                </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="skycolor" id="time_table">
  <div class="schedule-container container">
    <div class="schedule-rotate-box">
      <div class="schedule-text-box text-center ">
        <span>TIMETABLE</span>
      </div>
    </div>
    <div class="tabs tabs-body" >
      <div class="tab-2">
        <label for="tab2-1">DAY 23</label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
        <div class="tab-content" style="width:300%;">
          <table class="table">
          <tr>
            <th width = "500">TIME</th>
            <th width = "500">PROGRAM</th>
          </tr>
          <tr>
            <td width = "500">18:00 ~ 18:17</td>
            <td width = "500">녹턴</td>
          </tr>
          <tr>
            <td width = "500">18:17 ~ 18:25</td>
            <td width = "500">마스터피스</td>
          </tr>
          <tr>
            <td width = "500">18:25 ~ 18:41</td>
            <td width = "500">비트</td>
          </tr>
          <tr>
            <td width = "500">18:41 ~ 18:52</td>
            <td width = "500">Conjurer</td>
          </tr>
          <tr>
            <td width = "500">18:52 ~ 19:25</td>
            <td width = "500">늑대야</td>
          </tr>
          <tr>
            <td width = "500">19:30 ~ 21:10</td>
            <td width = "500">응원대제전</td>
          </tr>

        </table>
      </div>
    </div>
    <div class="tab-2" >
      <label for="tab2-2">DAY 24</label>
      <input id="tab2-2" name="tabs-two" type="radio">
      <div class="tab-content" style="position: relative; left: -100%; width: 300%;">
        <table class="table">
          <tr>
            <th width = "500">TIME</th>
            <th width = "500">PROGRAM</th>
          </tr>
          <tr>
            <td width = "500">18:00 ~ 18:20</td>
            <td width = "500">끼콘테스트<br>(김기창, 김혜정)</td>
          </tr>
          <tr>
            <td width = "500">18:20 ~ 18:40</td>
            <td width = "500">끼콘테스트<br>(박중선, 조인희)</td>
          </tr>
          <tr>
            <td width = "500">18:40 ~ 18:50</td>
            <td width = "500">끼콘테스트<br>(문태훈, 송진영)</td>
          </tr>
          <tr>
            <td width = "500">18:50 ~ 19:10</td>
            <td width = "500">끼콘테스트<br>(홍승오, 송승호)</td>
          </tr>
          <tr>
            <td width = "500">19:10 ~ 19:30</td>
            <td width = "500">끼콘테스트 시상</td>
          </tr>
          <tr>
            <td width = "500">19:30 ~ 19:43</td>
            <td width = "500">누보떼</td>
          </tr>
          <tr>
            <td width = "500">19:43 ~ 20:00</td>
            <td width = "500">소울</td>
          </tr>
          <tr>
            <td width = "500">20:00 ~ 20:10</td>
            <td width = "500">총장님</td>
          </tr>
          <!--<tr>-->
          <!--  <td width = "500">16:00~17:00</td>-->
          <!--  <td width = "500">program6</td>-->
          <!--</tr>-->
          <!--<tr>-->
          <!--  <td width = "500">17:00~18:00</td>-->
          <!--  <td width = "500">program7</td>-->
          <!--</tr>-->
    
        </table>
      </div>
    </div>
      <div class="tab-2">
        <label for="tab2-3">DAY 25</label>
        <input id="tab2-3" name="tabs-two" type="radio">
        <div class="tab-content" style="position:relative; left:-200%; width:300%;">
          <table class="table">
            <tr>
              <th width = "500">TIME</th>
              <th width = "500">PROGRAM</th>
            </tr>
            <tr>
              <td width = "500">18:00 ~ 18:18</td>
              <td width = "500">5분쉼표</td>
            </tr>
            <tr>
              <td width = "500">18:18 ~ 18:38</td>
              <td width = "500">스파이더스</td>
            </tr>
            <tr>
              <td width = "500">18:38 ~ 18:51</td>
              <td width = "500">안한숙밴드</td>
            </tr>
            <tr>
              <td width = "500">18:51 ~ 19:08</td>
              <td width = "500">MOSS</td>
            </tr>
            <tr>
              <td width = "500">19:08 ~ 19:26</td>
              <td width = "500">전어</td>
            </tr>
            <tr>
              <td width = "500">19:26 ~ 19:42</td>
              <td width = "500">미디어올로지</td>
            </tr>
            <tr>
              <td width = "500">19:42 ~ 19:55</td>
              <td width = "500">제니스</td>
            </tr>
            <tr>
              <td width = "500">19:55 ~ 20:15</td>
              <td width = "500">비트</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="lineup-wrap" id="line_up">
  <div class="lineup-bg-dark">
    <div class="lineup-title">
      <div class="lineup-rotate-box">
        <div class="lineup-text-box text-center">
           <span>2018 LINEUP</span>
        </div>
      </div>
    </div>
    
  <!--<div class="tabs tabs-body" >-->
    <div class="lineup-one">
      <div class="suran"></div>
      <div class="text-box-23">
        <h2>
          23DAY
          <br>
          SURAN
        </h2>
      </div>
    </div>
    
    <div class="lineup-two">
      <div class="two-container">
        <div class="text-box-24">
          <h2>
            24DAY
            <br>
            MOONMOON
            <br>
            DYNAMICDUO
          </h2>
        </div>
        <div class="dadu"></div>
      </div>
      <div class="moon"></div>
    </div>
    
    <div class="lineup-three">
      <div class="text-box-25">
        <h2>
          25DAY
          <br>
          EXID
          <br>
          PARKBORAM
          <br>
          4MEN
        </h2>
      </div>
      <div class="three-container">
        <div class="exid"></div>
        <div class="two-image">
          <div class="boram"></div>
          <div class="men"></div>
        </div>
      </div>
    </div>
  </div>
    
    
  </div>
<!--</div>-->


<div class="map-wrap" id="map_script">
  <div class="map-bg-dark">
   <div class="map-title">
  
    <div class="map-container container text-center">
      <div class="map-rotate-box">
        <div class="map-text-box text-center ">
          <span>AJOU MAP</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="map-image-container">
    <%= image_tag("map.png", :class => 'map-img') %>
  </div>
  </div>
  </div>
</div>

