<div class="lost-show-background">
  <div class="container text-center">
    <h1 class="lost-new-title">등록한 분실물 수정</h1>
    
    <%= render 'form', lost: @lost %>
    <!--필요없는 기능-->
    <!--<%= link_to 'Show', @lost, :class => 'btn btn-outline-dark btn-margin-right' %> |-->
    <!--<%= link_to 'Back', losts_path, :class => 'btn btn-outline-dark btn-margin-left' %>-->
  </div>
</div>