// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

.skycloud{
  background: -webkit-linear-gradient(top, #000000 2%,#471b4d 35%,#9f4e5f 68%,#bf746b 87%,#bf746b 87%,#ecad7c 100%); /* Chrome10-25,Safari5.1-6 */
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 92vh;
}

.festival-text{
  font-family: 'Noto Sans KR';
  color: white;
}
.ft-sub-title{
  font-size: 26px;
  font-weight: 700;
  animation: .8s .6s fadeInUp both;
}
.ft-title{
  animation: 1s 1s fadeIn both;
  font-size: 105px;
  font-weight: 900;
}

.ft-date{
  animation: 1s 1.1s fadeIn both;
  color: #fff;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
}
#main_page{
  padding-top: 80px;
}

.mybtn{
  background: none;
  color: #ffffff;
  width: 10em;
  margin: 0.3em;
  border: 0.5px solid #fff;
}

.mybtn.num1{
  animation: .8s 1.2s fadeIn both;
}
.mybtn.num2{
  animation: .8s 1.3s fadeIn both;
}

.mybtn:hover{
  background: rgba(255,255,255, 0.4);
  color: #2b0e30;
}

.movie-size{
  padding: 0 !important;
}



.skycolor{
  background: -webkit-linear-gradient(top, #ecad7c 0%,#bf746b 25%,#9f4e5f 50%,#9f4e5f 50%,#471b4d 80%,#09070d 98%); /* Chrome10-25,Safari5.1-6 */
  width: 100%;
}
@mixin debug {
  //outline: 1px solid rgba(0,0,0,.1);  
}

$avatar-width: 80px;

.modal-content-title{
    font-size: 2.5em;
    letter-spacing: -2px;
    line-height: 1.1;
    margin: 2.4rem 0 0.5rem;
    font-weight: bold;
}

.slats {
  font-size: .8em;
  line-height: 1.4;
  @include debug;
  
  li {
    @include debug;
    list-style-type: none;
    position: relative;
    clear: left;
    margin: 2em auto;
    min-height: $avatar-width;
  }
}

.modal-content-title ~ p {
  font-size: 1rem;
}

.back-white-color{
  background: white;
  width: 100%;
  height: 100em;
}

.day{
  
  width: 5rem;
  heigth: 5rem;
  
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
  font-family: 'Noto Sans KR' !important;
}

.tabs [class^="tab"] label, .tabs [class*=" tab"] label {
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1em;
  padding: 2rem 0;
  text-align: center;
}

.tabs [class^="tab"] [type="radio"], .tabs [class*=" tab"] [type="radio"] {
  border-bottom: 1px solid rgba(239, 237, 239, 0.5);
  border-top: 1px solid rgba(239, 237, 239, 0.5);
  border-left: 1px solid rgba(239, 237, 239, 0.5);
  border-right: 1px solid rgba(239, 237, 239, 0.5);
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-border-radius:0;
  height:0;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus, .tabs [class*=" tab"] [type="radio"]:hover, .tabs [class*=" tab"] [type="radio"]:focus {
  border-bottom: 1px solid #2681fd;
}
 
.tabs [class^="tab"] [type="radio"]:checked, .tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 2px solid #ffffff;
}

.tabs [class^="tab"] [type="radio"]:checked + div, .tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}

.tabs [class^="tab"] [type="radio"] + div, .tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.tabs .tab-2 {
  width: 33%;
  
}

.tabs .tab-2 [type="radio"] + div {
  width: 100%;
  margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%; //원래 100%
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: 0; //원래 -100%
}

.tab-content{
  display: flex;
  color: #ffffffcf;
  // justify-content: center;
  
}

// .title{
//   font-size: 2.1em;
//   text-align: center;
//   margin-top:1.5rem;
// }

// .lineup{
//   position:relative;
// }

// .lineup-image {
//   width: 100%;
// }
  
// .center-line{
//   display: flex;
//   justify-content: center;
// }

// .line-position23{
//   position:absolute;
//   top:1.5rem;
// }

.schedule-container{
  padding-top: 110px;
  text-align: center;
}

.schedule-text-box{
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  display: inline;
  position: relative;
  text-shadow: 2px 2px #6c757d;
}
.schedule-text-box:before{
  content: "";
  width: 238px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 2px 2px #6c757d;
}

.schedule-text-box:after{
  content: "";
  width: 238px;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px #6c757d;
}

.schedule-rotate-box{
  transform: rotate(345deg);
}

.tabs-body{
  padding-top: 45px;
}

.skycloud{
  min-height: 90.5vh;
  margin-top: 8vh;
}


.lineup-wrap{
  text-align: center;
}


.lineup-text-box{
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  display: inline;
  position: relative;
  text-shadow: 2px 2px #6c757d;
}
.lineup-text-box:before{
  content: "";
  width: 277px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 2px 2px #6c757d;
}

.lineup-text-box:after{
  content: "";
  width: 277px;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px #6c757d;
}
.lineup-rotate-box{
  transform: rotate(345deg);
}

.lineup-wrap{
  background: url(fest-back.jpeg) no-repeat center fixed;
  background-size: cover;
}
.lineup-bg-dark{
  background: rgba(0,0,0,0.80);
  // padding-top: 120px;
}
.lineup-title{
  padding-top: 110px;
  padding-bottom: 110px;
}
.lineup-one{
  min-height: 60vh;
  display: flex;
  flex-direction: row;
}
.suran{
  width: 45%;
  background: url(suran.png) no-repeat center;
  background-size: cover;
}
.text-box-23{
  width: 55%;
  background: #e5cc42;
  position: relative;
  color: #fff;
}
.text-box-23 h2{
  font-weight: 900;
  font-size: 3.6rem;
  transform: rotate(-90deg) translateY(0%);
  position: absolute;
  transform-origin: bottom left;
  bottom: 0;
  left: 100%;
  text-align: left;
}
.lineup-two{
  min-height: 60vh;
  display: flex;
  flex-direction: row;
}
.moon{
  width: 40%;
  background: url(moon.png) no-repeat center;
  background-size: cover;
}
.dadu{
  height: 40%;
  background: url(dadu.png) no-repeat 0 18%;
  background-size: cover;
}
.two-container{
  width:60%;
  display: flex;
  flex-direction: column;
}
.text-box-24{
  height: 60%;
  background: #1bc299;
  position: relative;
  color: #fff;
}
.text-box-24 h2{
  font-weight: 900;
  font-size: 2rem;
  transform: rotate(-90deg) translateY(0%);
  position: absolute;
  transform-origin: bottom left;
  bottom: 0;
  left: 100%;
  text-align: left;
}
.lineup-three{
  min-height: 65vh;
  display: flex;
  flex-direction: column;
}
.three-container{
  height: 40vh;
  width:100%;
  display:flex;
  flex-direction: column;
}
.exid{
  height: 50%;
  background: url(exid.png) no-repeat  0 23%;
  background-size: cover;
}
.two-image{
  height: 50%;
  display: flex;
  flex-direction: row;
}
.boram{
  height: 100%;
  width: 50%;
  background: url(boram.png) no-repeat 0 10%;
  background-size: cover;
}
.men{
  height: 100%;
  width: 50%;
  background: url(men.png) no-repeat 0 15%;
  background-size: cover;
}
.text-box-25{
  height: 25vh;
  background: #7b478e;
  position: relative;
}
.text-box-25 h2{
  color: #fff;
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  text-align: left;
  bottom: 0;
}


.map-container{
  padding-top: 5em;
  text-align: center;
}

.map-text-box{
  color: #fff;
  font-size: 45px;
  font-weight: 600;
  display: inline;
  position: relative;
  text-shadow: 2px 2px #6c757d;
}
.map-text-box:before{
  content: "";
  width: 220px;
  height: 3px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 2px 2px #6c757d;
}

.map-text-box:after{
  content: "";
  width: 220px;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 2px 2px #6c757d;
}

.map-rotate-box{
  transform: rotate(345deg);
}


.map-wrap{
  background: url(grass.jpg) fixed;  /* Chrome10-25,Safari5.1-6 */
  background-repeat: no-repeat;
  background-size: cover;
}
.map-bg-dark{
  background: rgba(0,0,0,0.3);
  // padding-top: 120px;
}
.map-title{
  padding-top: 24px;
  padding-bottom: 90px;
}

.map-img{
  // max-width: 100vw;
  max-height: 70vh;
  display: block;
  margin: 0 auto;

}

// webkit-linear-gradient(top, #189726 50%, #ffffff 99%);
