<!--scaffold파일 -->
<%= form_for(pub) do |f| %>
<% if pub.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(pub.errors.count, "error") %> prohibited this pub from being saved:</h2>
    <ul>
    <% pub.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  
 
  
  <!--<div class="field">-->
  <!--  %= f.label : major %><br>-->
  <!--  %= f.text_field :major %>-->
  <!--</div>-->
  <!--<div class="field">-->
  <!--  %= f.label : pubname %><br>-->
  <!--  %= f.text_area :pubname %>-->
  <!--</div>-->
  <!--<div class='field'>-->
  <!--  %= f.label : date%><br>-->
  <!--  %= f.file_field :date %>-->
  <!--</div>-->
  <!--<div class='field'>-->
  <!--  %= f.label : pub_datail%><br>-->
  <!--  %= f.file_field date: pub_datail%>-->
  <!--</div>-->
  <!--<div class='field'>-->
  <!--  %= f.label : map%><br>-->
  <!--  %= f.file_field date: map%>-->
  <!--</div>-->

  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


