<h1>New Pub</h1>

<%= render 'form', pub: @pub %>

<%= link_to 'Back', pubs_path %>


<!--%=form_tag(pub_create_path, method: "post") do%>-->
<!--    %=label_tag 'pub_major', '학과'%>-->
<!--    %=text_field_tag('pub_major', nil)%><br/>-->
    
<!--    %=label_tag 'pub_detail', '주점설명'%>-->
<!--    %=text_area_tag('pub_detail',nil)%><br/>-->
<!--    %=submit_tag '작성'%>-->
<!--%end%>-->



<!--Pub모델에서 튜플 한개 생성 , pub_create_path는 create로 이동시킨다는 뜻 이때 f는 params로 create action으로 전달된다.-->
<!--또한 form for로 내용을 전달한다면, 해당 뷰에서 %=params%>로 확인해보면 {,"utf8"=>"v","post"=>{"major"=>"Media","pub_detail"=>"맛있음"}} 이런식으로 전달된다-->
<!--그러므로 해당 액션에서 @pub=Pub.new @pub.major=params[:pub][:major]이런식으로 테이블 생성 후 2중 해쉬로 까서 value를 넣어준다. 당근 빠따 @post.save실행해줘야함.-->
<!--form for에서는 @pub의 내용에 따라서 자동으로 url을 움직여준다. -->
<!--%=form_for(Pub.new, url: pub_create_path, method: 'post') do |f|%>
    %=f.label :major, '학과'%>
    %=f.text_field :major%><br>
    
    %=f.label :pub_detail, '주점설명'%>
    %=f.text_area :pub_detail%><br>
    
    %=f.submit '제출'%>
%end%>
-->